// @import './node_modules/antd/dist/antd.less';
@import '~antd/dist/antd.dark.less';

@primary-color: #f49f19; // primary color for all components
@link-color: #1976ce; // link color
@success-color: #707070; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(255, 255, 255, 0.85); // heading text color
@text-color: rgba(255, 255, 255, 0.65); // major text color
@text-color-secondary: rgba(255, 255, 255, 0.45); // secondary text color
@disabled-color: hsla(260, 26%, 75%, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers

.modalForm {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #525252 14%, #f49f19 64%);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #525252 14%, #ffb94a 64%);
}
::-webkit-scrollbar-track {
    background: #525252;
    border-radius: 10px;
}

.ant-modal-content {
    position: absolute;
    display: block;
    width: 900px;
    margin: 0;
    left: 0;
}
